<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>DULCES</title>
        {% load static %}
        <link rel = "stylesheet" href="{%static 'core/CSS/estilos.css'%}">

    </head>
    <body>
      <header class="header">
        <div class="container logo-nav-container">
          <a href="#" class="logo">TIENDA</a>
            <nav class="nav">
              <ul>
                  <li><a href="{% url 'inicio1' %}">INICIO</a></li>
                  <li><a href="{% url 'quienes1' %}">QUIENES SOMOS</a></li>
                  <li><a href="{% url 'nuestros1' %}">NUESTROS PRODUCTOS</a>
                      <ul>
                          <li><a href="{% url 'bebidas1' %}">BEBIDAS</a></li>
                          <li><a href="{% url 'dulces1' %}">DULCES</a></li>
                          <li><a href="{% url 'verduras1' %}">VERDURAS</a></li>
                          <li><a href="{% url 'carnes1' %}">CARNES</a></li>
                          <li><a href="{% url 'higiene1' %}">HIGIENE</a></li>
                      </ul>
                  </li>
                  <li><a href="{% url 'contacto1' %}">CONTACTOS</a>
                          <ul>
                          <li><a href="{% url 'quejas1' %}">CONTACTANOS</a></li>
                          <li><a href="{% url 'trabaja1' %}">TRABAJA CON NOSOTROS</a></li>
                      </ul>
                  ></li>


              </ul>

          </nav>
        </div>
      </header>

    <main class="main">
      <div class="container">
          <h1>DULCES QUE OFRECEMOS:</h1>
          <li><U><B>DULCES:</B></U></li>
          <p1>En una lista de ingredientes, pueden enumerarse como sacarosa (azúcar de mesa),
              edulcorante de maíz, jarabe de maíz alto en fructosa, concentrados de jugo de frutas,
              néctares, azúcar en bruto, jarabe de malta, jarabe de arce, edulcorantes de fructosa,
              fructosa líquida, miel, melaza o dextrosa anhidra.</p1>

          <hr>

          <li>CHICLES</li>
          <p><div align="center"><img src="{%static 'core/IMG/chicles1.jpg' %}"
                                       alt="chicles"
                                       width="250"
                                       height="200"> </p>
          <hr>

          <div align="left"><li>GOMITAS</li>
          <p><div align="center"><img src="{%static 'core/IMG/gomitas1.jpg' %}"
                                       alt="gomitas"
                                       width="250"
                                       height="200"> </p>

          <hr>

          <div align="left"><li>CHUPETES</li>
          <p><div align="center"><img src="{%static 'core/IMG/chupetes1.jpg' %}"
                                       alt="chupetes"
                                       width="200"
                                       height="200"> </p>

          <hr>

          <div align="left"><li>FRITURAS</li>
          <p><div align="center"><img src="{%static 'core/IMG/frituras1.jpg' %}"
                                       alt="frituras"
                                       width="250"
                                       height="200"> </p>


    </main>

      <footer class="footer">
        <div class="container">
          <p>Pagina diseñada por:</p>
          <p>LOOR ALVAREZ</p>
          <p>LEON ALVIA</p>
          <P>Proyecto</P>
        </div>
      </footer>

    </body>

</html>