<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>VERDURAS</title>
        {% load static %}
        <link rel = "stylesheet" href="{%static 'core/CSS/estilos.css'%}">

    </head>
    <body>
      <header class="header">
        <div class="container logo-nav-container">
          <a href="#" class="logo">TIENDA</a>
            <nav class="nav">
              <ul>
                  <li><a href="{% url 'inicio1' %}">INICIO</a></li>
                  <li><a href="{% url 'quienes1' %}">QUIENES SOMOS</a></li>
                  <li><a href="{% url 'nuestros1' %}">NUESTROS PRODUCTOS</a>
                      <ul>
                          <li><a href="{% url 'bebidas1' %}">BEBIDAS</a></li>
                          <li><a href="{% url 'dulces1' %}">DULCES</a></li>
                          <li><a href="{% url 'verduras1' %}">VERDURAS</a></li>
                          <li><a href="{% url 'carnes1' %}">CARNES</a></li>
                          <li><a href="{% url 'higiene1' %}">HIGIENE</a></li>
                      </ul>
                  </li>
                  <li><a href="{% url 'contacto1' %}">CONTACTOS</a>
                      <ul>
                          <li><a href="{% url 'quejas1' %}">CONTACTANOS</a></li>
                          <li><a href="{% url 'trabaja1' %}">TRABAJA CON NOSOTROS</a></li>
                      </ul>
                  </li>


              </ul>

          </nav>
        </div>
      </header>

    <main class="main">
      <div class="container">
          <h1>VERDURAS QUE OFRECEMOS:</h1>
          <li><U><B>VERDURAS:</B></U></li>
          <p1>Están compuestas mayoritariamente por hidratos de carbono, polisacáridos y,
              en menor medida, proteínas y grasas. Tienen un alto contenido de agua,
              entre un 75 y un 95 por ciento de su composición. Son ricas en fibra soluble
              e insoluble.</p1>

          <hr>

          <li>TOMATES</li>
          <p><div align="center"><img src="{%static 'core/IMG/tomates1.jpg' %}"
                                       alt="chicles"
                                       width="250"
                                       height="200"> </p>
          <hr>

          <div align="left"><li>CEBOLLAS</li>
          <p><div align="center"><img src="{%static 'core/IMG/cebollas1.jpg' %}"
                                       alt="gomitas"
                                       width="250"
                                       height="200"> </p>

          <hr>

          <div align="left"><li>PIMIENTOS</li>
          <p><div align="center"><img src="{%static 'core/IMG/pimientos1.jpg' %}"
                                       alt="chupetes"
                                       width="200"
                                       height="200"> </p>

          <hr>

          <div align="left"><li>AJO</li>
          <p><div align="center"><img src="{%static 'core/IMG/ajo1.jpg' %}"
                                       alt="frituras"
                                       width="250"
                                       height="200"> </p>

          <hr>

          <div align="left"><li>PAPAS</li>
          <p><div align="center"><img src="{%static 'core/IMG/papas1.jpg' %}"
                                       alt="frituras"
                                       width="250"
                                       height="200"> </p>


    </main>

      <footer class="footer">
        <div class="container">
          <p>Pagina diseñada por:</p>
          <p>LOOR ALVAREZ</p>
          <p>LEON ALVIA</p>
          <P>Proyecto</P>
        </div>
      </footer>

    </body>

</html>